.task-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.total-list-row {
  border: 1px solid var(--medpult-bg-color);
  background-color: var(--medpult-panel-color);
  border-radius: 8px;
  height: 55px;
}
